graft docs
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include noxfile.py
include requirements-dev.txt

global-exclude *.py[cod] __pycache__ *.so *.pyd *.dylib .vscode/*

global-exclude tests/example-project/build/**/*
global-exclude tests/example-project/src/pypackage/*.c
global-exclude tests/example-project/src/pypackage/*.cpp
