graft docs
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE.md
include README.md

include noxfile.py
include requirements-dev.txt

global-exclude *.py[cod] __pycache__ *.so *.pyd *.dylib

exclude renovate.json

exclude .github/**/*
exclude .vscode/*

exclude tests/example-project/build/**/*
exclude tests/example-project/src/pypackage/*.c
exclude tests/example-project/src/pypackage/*.cpp
