graft docs
graft examples
graft cython
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .isort.cfg

include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml appveyor.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib

global-exclude tests/example-project/build
global-exclude tests/example-project/build/*
global-exclude tests/example-project/src/pypackage/*.c
global-exclude tests/example-project/src/pypackage/*.cpp
